<h1> Привет </h1>
<strong><%= @notice %></strong>
<form class="" action="/fetch" method="post">
  <input type="text" name="website" value="">
  <input type="submit" name="" value="Распарсить сайт">
</form>
