<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello HTML Geeks</title>
    <link rel="stylesheet" href="/assets/application.css">

    <style media="screen">
    </style>
  </head>
  <body>
    <h1>Hello <%= geek_name %> From Html Geeks!</h1>

    <form class="" action="/post_form" method="post">
      <fieldset>
        <legend>Заполните форму</legend>
        <input type="text" name="name_123" value="">
        <input type="submit" name="" value="Отправить имя">
      </fieldset>
    </form>
  </body>
</html>
