<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello HTML</title>
  <link rel="stylesheet" href="/assets/application.css">
  <style media="screen">
  </style>
</head>
<body>
<h1>Hello, this  is homyak from Marina Igumnova</h1>
<img src="/assets/homyak<%=cookies[:number]%>.jpg">
<form class="" action="/" method="post">
  <fieldset>
    <legend>Введите номер хомяка от 1 до 3:</legend>
    <input type="text" name="number" value="">
    <input type="submit" name="" value="Отправить номер">
  </fieldset>
</form>
</body>
</html>
