<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hello my friend</title>
	<link rel="stylesheet" href="/css/style.css">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid wrapper bg-grey">
<nav class="navbar navbar-default">

    	<div class="navbar-header">
      	<a class="navbar-brand" href="/">CookieRack</a>
    	</div>
    <ul class="nav navbar-nav">
      <li><a href="/about">About page</a></li>
    </ul>

</nav>
<div class="container bg-grey">
<div class="col-md-4 col-md-offset-3">
<h1>About page</h1>
	<p>this is a application for messing around with rack heroku and cookies</p>
	 <img class="thumbnail" src="http://content.wfmynews2.com/photo/2016/11/01/Cookie%20Monster%20USAT_1478046170218_6692962_ver1.0.JPG">
	</div>
</div>
</div>
</body>
</html>