<h1 class="cover-heading">Результат сабмита!</h1>
<table class="table table-bordered">
  <tbody>
  <tr>
    <th>Имя</th>
    <td><%= params['name'] %></td>
  </tr>
  <tr>
    <th>Телефон</th>
    <td><%= params['phone'] %></td>
  </tr>
  </tbody>
</table>
<p class="lead">
  <a href="/" class="btn btn-lg btn-secondary">На главную!</a>
</p>
