<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
  </head>
  <body>
    <h1>Hallow!</h1>
    <div> Это тестовый сайт на Руби с использованием Rack.</div>
    <div> Здесь реализованы следующие возможности:
      <ul>
        <li><a href="/">Статическая информационная страничка</a></li>
        <li><a href="/form">Ваша личная страничка</a></li>
        <!-- <li><a href="/fishy_chat">Миничат</a></li> -->
        <li><a href="/json">Отправка в ответ статического json файла</a></li>
        <li><a href="/AaaaHWhereAreYouGOING">Обработка запросов к несуществующим страницам</a></li>
      </ul>
    </div>
  </body>
</html>
