<h1 class="cover-heading">Главная страница!</h1>
<p class="lead">Проверяем форму!</p>
<div>
  <form action="/form" method="post">
    <div class="form-group">
      <label class="control-label" for="name">Имя</label>
      <input type="text" id="name" class="form-control" name="name" value="" maxlength="100">
    </div>
    <div class="form-group">
      <label class="control-label" for="phone">Контактный телефон</label>
      <input type="text" id="phone" class="form-control" name="phone" value="" maxlength="100">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success">Сабмит!</button>
    </div>
  </form>
</div>
