<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Блог Улетова Антона</title>
  <link rel="stylesheet" href="/assets/application.css">
</head>
<body>
  <div id="content">
    <div id="header">
      <a href="/">Главная</a>
      <span>/</span>

      <a href="/example">Примеры работ</a>
    </div>

    <h1>Примеры работ</h1>
    <div id="center">
      <a href="http://uletovanton.hol.es/" target = "_blank"><img src="/images/My_site.jpg" alt="первый сайт"></a>

      <div id="box_text">
        <p>
          Это мой первый сайт, написанный с импользованием технологий <b>HTML</b> и <b>CSS</b>.
        </p>
      </div>
    </div>
  </div>
  <div id="footer">
    Copyright &copy; <%=year%> <a href="https://geekbrains.ru/">GeekBrains</a>
  </div>
</body>
</html>