h1 {
    color: blue;
    text-align: center;
    border-bottom: 2px dotted red;
}

fieldset {
    display: flex;
    flex-direction: row;
    border: 1px solid blueviolet;
}

img {
    display: block;
    margin: 0 auto;
    height: 300px;
    width: 300px;
}