h1 {
  color: blue;
  text-align: center;
  border-bottom: 2px dotted #e3e;
}

fieldset {
  display: flex;
  flex-direction: row;
  border: 1px solid red;
}

input[type="submit"] {
  font-size: 40px;
  font-weight: bold;
}
