<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Greeter</title>
  <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
</head>
<body>
  <div class="container">
    <h1>Hello Ruby!!!</h1>
    <p>Введите ссылочку для парсинга!</p>
    <form method="post" action="/change">
      <input name="name" type="text">
      <input type="submit" value="Парсить страничку">
    </form>
  </div>


</body>
</html>