
body{
    background-color: #4B7399;
    font-family: Verdana;
    font-size: 14px;
}
.container{
    width: 75%;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 20px 40px;
    border: 1px solid black;
    margin-top: 20px;
}
a {
    color: #0000FF;
}
