<!DOCTYPE html>
<html lang="ru">
  <head>
      <title>GAME_TMP in web</title>
      <meta charset="UTF-8">

  </head>

  <body align=center>
    <h2>Game 'Game_tmp'</h2>
    <h4><%= text %></h4>
    <form method="post" action="form">
      <input type="text" name="val">
      <input type="submit" value="OK">

    </form>

  </body>

</html>
